 .background {
   width: 1612px;

 }

 .first {
   background-color: #213b52;
   font-size: 27px;
   margin: -56px 0 0 0px;
   display: block;
   padding-top: 88px;
 }

 .navi {
   display: flex;
   color: #fff;
 }

 .navi1 {
   margin-left: 100px;
   display: flex;
 }

 .navi1 h2 {
   color: #bf9b3c;
   ;
   font-size: 40px;
   margin: -10px 0 0 2px;
 }

 .navigation {
   margin-left: 360px;
 }

 .navigation ul a {
   text-decoration: none;
   color: #fff;
   margin-right: 30px;
   font-size: 20px;
 }

 .navigation ul a span {
   padding: 5px 25px;
   border-radius: 40px;
   border: 2px solid #bf9b3c;
 }

 .getstarted {
   display: flex;
   background-color: #213b52;
   margin-top: 68px;
 }

 .getstarted1 {
   margin: 200px 0 0px 96px;
   display: inline-block;
 }

 .getstarted1 h1 {
   font-size: 70px;
   line-height: 62px;
   margin-top: -6px;
   color: #fff;
 }

 .getstarted1 p {
   margin-top: 28px;
   color: #fff;
   font-size: 32px;


 }

 .getstarted1 button {
   background-color: #bf9b3c;
   border-radius: 40px;
   padding: 22px 59px;
   margin: 27px 0 0px 7px;
   border: 1px;
 }

 .getstarted1 button span {
   font-size: 15px;
 }

 .getstarted2 {}

 .getstarted2 img {
   width: 634px;
   margin: -55px 148px 0px 0px;
 }

 .cmpylogo {}

 .cmpylogo1 {
   margin-left: 144px;
   margin-top: 15px;

 }

 .cmpylogo1 img {
   width: 140px;
   margin: 3px 78px 0px 0px;
 }

 .clienttalk {
   margin-top: 85px;
   display: flex;
   padding: 40px 0px;
 }

 .clienttalk1 {
   margin-left: 90px;
   width: 545px;
 }
 .clienttalk1 img {
   width: 570px;
 }

 .clienttalk2 {
   margin-left: 65px;
   margin-right: 130px;
 }

 .clienttalk2 h1 {
   font-size: 46px;
 }

 .clienttalk2 p {
   margin: 20px 0 0px 2px;
   font-size: 22px;
 }

 .talk1 {
   display: flex;
   margin-top: 70px;
   margin-left: 76px;
 }

 .talk13 h2 {
   font-size: 26px;
   margin: -5px 0px 0px 0px;
 }
 .talk13 p{
  font-size: 22px;
  margin: 17px 76px 0px -1px;
 }
 .talk21{
   margin-left: 33px;
 }
 .talk14{
  font-size: 26px;
   margin-top: 48px;
 }
 .talk14 p{
  font-size: 21px;
  margin: 17px 26px 0px 0px;
 }
 .services{
   background-color: #ccc;
 }
 .services h3{
  font-size: 40px;
  text-align: center;
 }